<!DOCTYPE html>
<html>
<head>
  <title>Crypto</title>
  <style>
    .h1-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;  /* Adjust spacing as needed */
    }

    h1 {
      margin-right: 10px; /* Add spacing between h1 tags */
    }
  </style>
</head>
<body>
  <div class="h1-container">
    {% for item in data %}
    <div>
        <h1>{{ item[0] }}</h1>
        <pre><code>{{ item[1] }}</code></pre>
    </div>
    {% endfor %}
  </div>
</body>
</html>
